html{
    background-color: rgb(216, 208, 208);

}


body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    height: 100px;
    border:1px black;
    margin-left: 2%;
    margin-bottom: 4%;   
}

header{
    height: 80px;
    padding: 15px;
    background: #fff;
    margin-bottom: 30px;
}

#logo{
        vertical-align: middle;   
    }

.logo-text {
    
    font-size: 32px;
    vertical-align: middle;
    font-weight: bold;
    margin-right: auto;
    
}

nav, .container2 {
    
    padding: 20px 50px;
}

.container2{
    width: 800px;
    height: 500px;
    border:1px black;
    margin: auto ;     
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}



#tasto1{
    margin-top: 10px 20px;
    background: #14aaf5;
    color: #fff;
    border-color: #14aaf5;
}

#buttonmargin{
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    
}


#tasto2{
    background: #fff;
    color: #c4cbd0;
    border-color: #c4cbd0;
    }

.hr{
    color: grey;
    height: 10px;
}

ul{
    list-style: none;
    list-style-position: inside;
}

li{
    margin: 15px 0;
  }

#editorial{
    background-color: rgb(76, 185, 228);
    color: white;
    border-radius: 10px 10px 10px 10px;
    
}

#goals{
    background-color: blueviolet;
    color: white;
    border-radius: 10px 10px 10px 10px;
    
}

#recruiting{
    background-color: rgb(113, 209, 49);
    color: white;
    border-radius: 10px 10px 10px 10px;
    
}

#mobile{
    background-color: rgb(214, 156, 30);
    color: white;
    border-radius: 10px 10px 10px 10px;
    
}

#website{
    background-color: rgb(199, 30, 214);
    color: white;
    border-radius: 10px 10px 10px 10px;
    
}

#sales{
    background-color: rgb(72, 112, 26);
    color: white;
    border-radius: 10px 10px 10px 10px;
    
}



.check {
    color: green;
    border-color: green;
}

.cross {
    color: red;
    border-color: red;
}

.cross::before {
    content:"\2573";
    border-radius: 10px 10px 10px 10px black solid;
}
.dot-list {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
}